<%- include('./partials/header') %>

<main>
    <img src="<%= user.avatar %>" alt="avatar">
    <h1><%= user.name %>'s <%= title %></h1><br><br>
    <h3>Likes:</h3>
    </main>

<%- include('./partials/footer') %>