<%- include('../partials/header') %>

<main>
    <section><br>
        <table>
            <thead>
                <tr>
                    <th>Review</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= review.content %></td>
                    <td><%= review.rating %></td>
                </tr>
            </tbody>
        </table><br>
        <form id="review-edit" action="/reviews/<%= review._id %>?_method=PUT" method="POST">
            <textarea id="ratingTA" name="content" value="<%= review.content %>"><%= review.content %></textarea>
            <input id="rating" name="rating" value="<%= review.rating %>"><br><br>
            <button type="submit">UPDATE REVIEW</button>
        </form><br>
    </section>
</main>

<%- include('../partials/footer') %>