<%- include('../partials/header') %>

<main>
    <h1><%= user.name %>'s <%= title %></h1>
    <div id="dash-post">
      <% posts.forEach(function(p) { %>
        <div><%= p.destination %></div>
        <div><%= p.title %></div>
        <div>
            <a href="/posts/<%= p._id %>">
                <img src="<%= p.imgUrl %>" alt="image">
            </a>
        </div>
        <div><%= p.userName %></div>
        <div>
            <img src="<%= p.userAvatar %>" alt="">
        </div>
      <% }); %>
    </div>  
</main>

<%- include('../partials/footer') %>