<%- include('../partials/header') %>

<main>
    <h1><%= user.name %>'s <%= title %></h1>
    <div id="favs-post">
      <% posts.forEach(function(p) { %>
        <a id="postsA" href="/posts/<%= p.id %>">
            <div id="destination"><%= p.destination %></div>
            <div id="title"><%= p.title %></div>
            <div id="post-image">
                <img src="<%= p.imgUrl %>" alt="image">
            </div>
            <div id="user"><%= p.userName %></div>
            <div id="avatar">
                <img src="<%= p.userAvatar %>" alt="">
            </div>
          <% }); %>
        </a>
    </div>  
</main>

<%- include('../partials/footer') %>