<%- include('../partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1><br><br>
        <div id="search-posts">
            <% if (posts.length) { %>
                <% posts.forEach(function(p) { %>
                    <a id="postsA" href="/posts/<%= p.id %>">
                        <div id="destination">
                            <%= p.destination %>
                        </div>
                        <div id="title">
                            <%= p.title %>
                        </div>
                        <div id="post-image">
                            <img src="<%= p.imgUrl %>" alt="image">
                        </div>
                        <div id="user">
                            <%= p.userName %>
                        </div>
                        <div id="divAvatar">
                            <img id="avatar" src="<%= p.userAvatar %>" alt="">
                        </div>
                    </a>
                    <% }); %>
                        <% } else { %>
                            <h3>No Shoes Found!</h3>
                            <% } %>
        </div>
    </main>

    <%- include('../partials/footer') %>