<%- include('../partials/header') %>

<section id="show-page">
    <div>User: </div>
    <div><%= post.userName %></div>
    <div>
        <img src="<%= post.userAvatar %>" alt=""></div>
    <div>Title: </div>
    <div><%= post.title%></div>
    <div>Description: </div>
    <div><%= post.description%></div>
    <div>Destination: </div>
    <div><%= post.destination%></div>
    <div>Destination: </div>
    <div><%= post.destination%></div>
    <div>
        <img src="<%= post.imgUrl %>" alt="">
    </div>
</section>

<%- include('../partials/footer') %>