<%- include('../partials/header') %>

<section id="show-page">
    <div><%= post.userName %></div>
    <div>
        <img src="<%= post.userAvatar %>" alt="">
    </div>
    <div>
        <img src="<%= post.imgUrl %>" alt="">
    </div>
    <div>Title: </div>
    <div><%= post.title%></div>
    <div>Description: </div>
    <div><%= post.description%></div>
    <div>Destination: </div>
    <div><%= post.destination%></div>
</section>

<br><br><h2>Reviews</h2>
<% if (user) { %>
  <form id="add-review-form" method="POST"
    action="/posts/<%= post._id %>/reviews">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <input type="submit" value="Add Review">
  </form>
<% } %>
<% if (post.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% post.reviews.forEach(function(r) { %>
        <% total += r.rating %>
        <tr>
          <td class="review-user"><img src="<%= r.userAvatar %>" referrerpolicy="no-referrer" alt="avatar"><%= r.userName %></td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
          <td>
            <% if (user?._id.equals(r.user)) { %>
              <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
              <% } %>
            </td>
            <td>
            <% if (user?._id.equals(r.user)) { %>
              <form action="/reviews/<%= r._id %>/edit" method="GET">
                <button type="submit">Edit</button>
              </form>
              <% } %>
            </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="3"></td>
        <td>
          <strong>
            <%= (total / post.reviews.length).toFixed(1) %>
          </strong>
        </td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>

<%- include('../partials/footer') %>