<%- include('../partials/header') %>
<main>
  <section id="show-page">
    <div id="show-post-info">
      <img id="show-avatar" src="<%= post.userAvatar %>" alt="">
      <div id="show-user"><h3><%= post.userName %></h3></div>
      <div id="show-title">Title: </div>
      <div id="show-title-info"><%= post.title %></div>
      <div id="show-desc">Description: </div>
      <div id="show-desc-info"><%= post.description %></div>
      <div id="show-dest">Destination: </div>
      <div id="show-dest-info"><%= post.destination %></div>
      <div id="show-likes">Likes: </div>
      <div id="show-likes-info"><%= post.usersFav.length %></div>
      <% if (user?._id.equals(post.user)) { %>
          <form id="edit" action="/posts/<%= post._id %>/edit" method="GET">
              <input type="submit" value="Edit Shoe">
          </form>
          <form id="delete" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
              <input type="submit" value="Delete Shoe">
          </form>
      <% } %>
      <% if (user && !user?._id.equals(post.user)) { %>
          <form id="favorite" action="/posts/<%= post._id %>" method="POST">
              <input type="submit" value="Add to Favorite Shoes">
          </form>
      <% } %>
    </div><br>
      <img id="postImg" src="<%= post.imgUrl %>" alt="">
  </section>

  <br><br><h2>Reviews</h2><br>
  <% if (user) { %>
    <form id="add-review-form" method="POST" action="/posts/<%= post._id %>/reviews">
      <label>Review:</label>
      <textarea name="content"></textarea>
      <label>Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <input type="submit" value="Add Review">
    </form><br><br>
  <% } %>
  <% if (post.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% post.reviews.forEach(function(r) { %>
          <% total += r.rating %>
          <tr>
            <td class="review-user"><img src="<%= r.userAvatar %>" referrerpolicy="no-referrer" alt="avatar"><%= r.userName %></td>
            <td><%= r.createdAt.toLocaleDateString() %></td>
            <td><%= r.content %></td>
            <td><%= r.rating %></td>
            <td>
              <% if (user?._id.equals(r.user)) { %>
                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                  <button type="submit">Delete</button>
                </form>
                <% } %>
              </td>
              <td>
              <% if (user?._id.equals(r.user)) { %>
                <form action="/reviews/<%= r._id %>/edit" method="GET">
                  <button type="submit">Edit</button>
                </form>
                <% } %>
              </td>
          </tr>
        <% }); %>
        <tr>
          <td colspan="3"></td>
          <td>
            <strong>
              <%= (total / post.reviews.length).toFixed(1) %>
            </strong>
          </td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  <% } %>
</main>

<%- include('../partials/footer') %>